body{
   margin: 0;
   padding: 0;
}

.wraper{
    border: 1px solid #000;
    width: 90%;
    height: 700px;
    background-color: #eccc92;
    margin: 0 auto;
}

.header{
    border: 1px solid #000;
    height: 20%;
    width: 100%;
    background-color: gray;
}
.menu{
    border: 1px solid #000;
    height: 10%;
    width: 100%;
    background-color: #f0f854;
    
}
#main{
    border: 1px solid #000;
    height: 50%;
    width: 100%;
    background-color: pink;  
}

#main .sidebar{
   
    height: 50px;
    width: 100px;
    background-color: red;   
    
}
.footer{
    border: 1px solid #000;
    height: 20%;
    width: 100%;
    background: #bcb5e9; 
}