body{
   margin: 0;
   padding: 0;
}

.wraper{
    border: 1px solid #000;
    width: 90%;
    height: 700px;
    background-color: #eccc92;
    margin: 0 auto;
}

.header{
    border: 1px solid #000;
    height: 20%;
    width: 100%;
    background-color: gray;
}
.header img{
    height: 100%;
    width: 100%;
}
.menu{
    border: 1px solid #000;
    height: 10%;
    width: 100%;
    background-color: #f0f854;
    
}
#main{
    border: 1px solid #000;
    height: 50%;
    width: 100%;
    background-color: pink;  
    float: left;
}

#main .sidebar{
    border: 1px solid #000;
    height: 300px;
    width: 20%;
    background-color: blue; 
    margin-top: 5px;    
    margin-left: 5px; 
    float: left;  
}
#main .mainContain{
    border: 1px solid #000;
    height: 300px;
    width: 77%;
    background-color: orange; 
    margin-top: 5px;    
    margin-left: 10px;
    float: right;   
}
.clear{
    clear: both;
}

.footer{
    border: 1px solid #000;
    height: 20%;
    width: 100%;
    background: #bcb5e9; 
}